<ion-content>
  <img src="/assets/IMG/LOGO_DUOCUC2.png" class="logo" />
  <div class="login-section ion-padding">
    <div class="heading ion-padding">
      <h1>Bienvenido Usuario</h1>
      <p>Logeate para ingresar</p>
    </div>
    <div class="login-form ion-padding">
      <div class="form-input">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">EMAIL</ion-label>
          <ion-input type="email" [(ngModel)]="email"></ion-input>
        </ion-item>
      </div>
      <div class="form-input">
        <ion-icon name="lock-closed-outline"></ion-icon>
        <ion-item>
          <ion-label position="floating">CONTRASEÑA</ion-label>
          <ion-input type="password" [(ngModel)]="password"></ion-input>
        </ion-item>
      </div>
    </div>
    <div class="action-buttons ion-padding">
      <ion-button size="large" class="login-button" (click)="login()">Logearse</ion-button>
      <p (click)="navigateToPasswordRecovery()">¿Olvidaste la contraseña?</p>
      <p>¿Eres nuevo aquí?</p>
      <ion-button class="signup-button" size="large" fill="outline" routerLink="/registro">Registrarse</ion-button>
    </div>
  </div>
</ion-content>
