.weather-info {
    padding: 16px;
    text-align: center;
  }

  .weather-info h2 {
    margin: 0;
    font-size: 24px;
  }

  .weather-info p {
    margin: 4px 0;
  }

  img {
    margin-top: 10px;
    width: 100px; 
  }

  .custom-header {
    background-color: #f9b801;
  }

  .weather-info {
    background-color: #f0e68c; 
    border-radius: 15px; 
    padding: 20px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); 
    max-width: 400px; 
    margin: 20px auto; 
    text-align: center; 
    border-color: black;
  }

  
  