.weather-info {
    padding: 16px;
    text-align: center;
  }

  .weather-info h2 {
    margin: 0;
    font-size: 24px;
  }

  .weather-info p {
    margin: 4px 0;
  }

  img {
    margin-top: 10px;
    width: 100px; /* Ajusta el tamaño de la imagen según tus preferencias */
  }

  .custom-header {
    background-color: #f9b801;
  }

  .weather-info {
    background-color: #f0e68c; /* Color de fondo atractivo */
    border-radius: 15px; /* Bordes redondos */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombra sutil */
    max-width: 400px; /* Ancho máximo */
    margin: 20px auto; /* Centrado en la página */
    text-align: center; /* Centrado del texto */
    border-color: black;
  }
  