
.recovery-section {
    background-color: #f9b801;  
    border-radius: 12px;         
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  
    padding: 20px;               
    text-align: center;         
    margin: 20px;                
    border-color: black;         
  }
  
  .recovery-section h1 {
    font-size: 24px;  
    margin: 0;        
  }
  
  .recovery-section p {
    font-size: 16px;   
    margin-top: 10px; 
  }
  
  ion-button {
    --background: #f9b801;  
    --color: #000000;  
    --border-radius: 0px;  
  }
  
  ion-button.action-buttons {
    display: block;
    margin: 0 auto;
    background-color: #f9b801;  
    --color: #000000; 
    --border-radius: 0px;  
  }
  
  ion-button.cancel-button {
    margin-top: 20px; 
    --border-radius: 0px;  
  }
  
  ion-item {
    --background: #f0f0f0;  
    border-radius: 12px;    
    margin-bottom: 10px;    
  }
  