/* Estilos similares a los de registro */
.recovery-section {
    background-color: #f9b801;  /* Fondo amarillo */
    border-radius: 12px;         /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);  /* Sombra suave */
    padding: 20px;               /* Espaciado interno */
    text-align: center;          /* Alineación central */
    margin: 20px;                /* Margen */
    border-color: black;         /* Borde negro */
  }
  
  .recovery-section h1 {
    font-size: 24px;  /* Tamaño de fuente para el título */
    margin: 0;        /* Sin margen */
  }
  
  .recovery-section p {
    font-size: 16px;   /* Tamaño de fuente para el texto */
    margin-top: 10px;  /* Margen superior */
  }
  
  ion-button {
    --background: #f9b801;  /* Fondo amarillo para los botones */
    --color: #000000;  /* Texto negro en los botones */
    --border-radius: 0px;  /* Sin bordes redondeados */
  }
  
  ion-button.action-buttons {
    display: block;
    margin: 0 auto;
    background-color: #f9b801;  /* Fondo amarillo */
    --color: #000000;  /* Letras negras */
    --border-radius: 0px;  /* Sin bordes redondeados */
  }
  
  ion-button.cancel-button {
    margin-top: 20px; /* Espacio superior solo para el botón de cancelar */
    --border-radius: 0px;  /* Sin bordes redondeados */
  }
  
  ion-item {
    --background: #f0f0f0;  /* Fondo gris claro */
    border-radius: 12px;    /* Bordes redondeados */
    margin-bottom: 10px;    /* Espacio inferior entre elementos */
  }
  