<ion-content>
  <!-- Card para el contenedor de recuperación, solo con los campos de formulario -->
  <ion-card class="recovery-section">
    <h1>Recuperar Contraseña</h1>
    <p *ngIf="!isChangingPassword">Introduce tu correo para restablecer tu contraseña:</p>
    <p *ngIf="isChangingPassword">Crea tu nueva contraseña:</p>

    <ion-item *ngIf="!isChangingPassword">
      <ion-label position="floating">Correo Electrónico</ion-label>
      <ion-input [(ngModel)]="email" type="email"></ion-input>
    </ion-item>

    <ion-item *ngIf="isChangingPassword">
      <ion-label position="floating">Nueva Contraseña</ion-label>
      <ion-input [(ngModel)]="newPassword" type="password"></ion-input>
    </ion-item>

    <ion-item *ngIf="isChangingPassword">
      <ion-label position="floating">Confirmar Contraseña</ion-label>
      <ion-input [(ngModel)]="confirmPassword" type="password"></ion-input>
    </ion-item>
  </ion-card>

  <!-- Botón para enviar correo -->
  <ion-button expand="block" class="action-buttons" (click)="handleAction()">
    {{ isChangingPassword ? 'Actualizar Contraseña' : 'Confirmar Correo' }}
  </ion-button>

  <!-- Botón de cancelar con margen superior -->
  <ion-button expand="block" fill="outline" routerLink="/login" class="action-buttons cancel-button">
    Cancelar
  </ion-button>
</ion-content>
