<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- Icono de hamburguesa -->
    <ion-button slot="start" (click)="menu.toggle()" fill="clear">
      <ion-icon name="menu" slot="icon-only"></ion-icon> <!-- Icono de hamburguesa -->
    </ion-button>
    <ion-title>Método de Pago</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Método de Pago</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
