.contenedor-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 20px;
}

.card {
    transition: transform 0.3s ease;
    width: 100%;
    max-width: 400px;
    border: 1px dashed #f9b801;
}

.card:hover {
    transform: scale(1.05);
}

.card ion-img {
    width: 400px;
    display: block;
    object-fit: cover; 
}


